<!DOCTYPE html>
<html>
    <head>
        <title>Express App</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <% users.forEach(user =>{%>
            <div>
                <div class="user<%= user.isPromoted %>">
                <ul>
                    <li> Name : <%= user.name %></li>
                    <li> Email : <%= user.email %></li>
                </ul>
                </div>
                
                <form  class="edit" method="POST" action="/users/<%= user._id %>?_method=PUT">
                    <button  id="edit-<%= user.name %>" type="submit"><% if(user.isPromoted){%> <%= 'Demote' %> <%} else{%> <%=
                        'promote'%> <% }%></button>
                </form>
                <form class="edit" method="POST" action="/users/<%= user._id %>?_method=DELETE">
                    <button  id="delete-<%= user.name %>">Delete</button>
                </form> 
            </div>
            
        <%})%>
        <div>
            <form method="POST" action="/add">
            <button class="add" type="submit">Add User</button>
            </form>
        </div>
        
    </body>
</html>